#calendar-container {
  padding: px;
  width: 30%;
  height: 50vh;
  text-align: center;
  border: 2px solid #eeeeee;
  border-radius: 10px;
  font-size: 35px;
  font-family: "Cinzel", serif;
  background-image: linear-gradient(rgb(161, 0, 0), #d3d3d3);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 50px;
  align-items: center;
  position: absolute;
  left: 35%;
}

#calendar-container > div {
  padding: 0;
  margin-bottom: 10px;
}
#calendar-month-year {
  margin: 5px;
}
#calendar-dates > table > tr > td {
  padding: 5px;
}
