#topt,
#top2,
#top3 {
  background-color: rgb(38, 68, 52);
  text-align: center;
  font-family: "Cinzel", serif;
  color: whitesmoke;
  font-weight: 100;
}
.cBox1,
.cBox2,
.cBox3 {
  background: white;
  font-family: sans-serif;
  text-align: center;
  left: 10%;
  right: 10%;
  height: 100%;
  border: 20px solid;
  border-image: url(../img/leafborder.jpg) 100 round;
  border-image-outset: 10px;
}

.characterRow,
.villainRow,
.historyRow {
  display: flex;
  flex-direction: row;
  font-family: "Cinzel", serif;
}
.villainRow {
  color: rgb(78, 1, 1);
}
.characterRow {
  color: rgb(1, 78, 78);
}

.cVidar,
.cPercy,
.cMilfred,
.cDominus,
.vstarEyed,
.vasterRush,
.vbloodMoon,
.darkHistory {
  display: flex;
  flex: 1;
  flex-direction: column;
}

#Vidar,
#Dominus,
#Milfred,
#BloodM,
#Aster,
#StarEye {
  height: 200px;
  width: 200px;
  margin: auto;
}
#Percy {
  height: 200px;
  width: 100px;
  margin: auto;
}
#village {
  height: 350px;
  width: 400px;
  border: 2px solid gray;
  flex-direction: row;
}
.vidarRow,
.bloodRow {
  display: flex;
  flex-direction: row;
  margin: auto;
}
#descripVidar {
  font-family: "Cinzel", serif;
  margin: auto;
  font-size: smaller;
  background-color: whitesmoke;
}
#bioDes {
  width: 150px;
  margin: auto;
  font-family: "Cinzel", serif;
  font-size: smaller;
  color: rgb(1, 78, 78);
}
#bioVes {
  width: 150px;
  margin: auto;
  font-family: "Cinzel", serif;
  font-size: smaller;
  color: rgb(78, 1, 1);
}
#heroBio {
  background: white;
  font-family: "Cinzel", serif;
  text-align: center;
  left: 10%;
  right: 10%;
  height: 100%;
  border: 20px solid;
  border-image: url(../img/borderhero.jpg) 100 round;
  border-image-outset: 10px;
  z-index: 1;
}
#bloodMo {
  height: 200px;
  width: 150px;
  margin: auto;
}
#villainBio {
  background: whitesmoke;
  font-family: "Cinzel", serif;
  text-align: center;
  left: 10%;
  right: 10%;
  height: 100%;
  border: 20px solid;
  border-image: url(../img/borderevil.jpg) 100 round;
  border-image-outset: 10px;
  z-index: 1;
}
#dawn {
  font-family: "Cinzel", serif;
  text-align: center;
  left: 10%;
  right: 10%;
  height: 100%;
  border: 20px solid;
  border-image: url(../img/borderevil.jpg) 100 round;
  border-image-outset: 10px;
  z-index: 1;
  background-color: rgb(71, 4, 4);
  text-align: center;

  color: whitesmoke;
  font-weight: 100;
}
#Just {
  font-family: "Cinzel", serif;
  text-align: center;
  left: 10%;
  right: 10%;
  height: 100%;
  border: 20px solid;
  border-image: url(../img/borderhero.jpg) 100 round;
  border-image-outset: 10px;
  z-index: 1;
  background-color: rgb(1, 74, 74);
  text-align: center;

  color: whitesmoke;
  font-weight: 100;
}
#fawn {
  font-family: "Cinzel", serif;
  text-align: center;
  left: 10%;
  right: 10%;
  height: 100%;
  border: 20px solid;
  border-image: url(../img/leafborder.jpg) 100 round;
  border-image-outset: 10px;
  z-index: 1;
  background-color: rgb(0, 0, 0);
  text-align: center;

  color: whitesmoke;
  font-weight: 100;
}
