#topt {
  background-color: rgb(38, 68, 52);
  text-align: center;
  font-family: "Cinzel", serif;
  color: whitesmoke;
  font-weight: 100;
}
.cBox1 {
  background: white;
  font-family: sans-serif;
  text-align: center;
  left: 10%;
  right: 10%;
  height: 100%;
  border: 20px solid;
  border-image: url(../img/leafborder.jpg) 100 round;
  border-image-outset: 10px;
}

.characterRow {
  display: flex;
  flex-direction: row;
}

.cVidar,
.cPercy,
.cMilfred,
.cDominus {
  display: flex;
  flex: 1;
  flex-direction: column;
}

#Vidar {
  height: 200px;
  width: 200px;
  margin: auto;
}
#Percy {
  height: 200px;
  width: 100px;
  margin: auto;
}
#Milfred {
  height: 200px;
  width: 200px;
  margin: auto;
}

#Dominus {
  height: 200px;
  width: 200px;
  margin: auto;
}
