#top1 {
  background-color: rgb(34, 63, 47);
  text-align: center;
  font-family: "cinzel", serif;
  color: white;
  font-weight: 100;
}
#table,
tr,
th,
td {
  border: 1px solid white;
  border-radius: 50px;
}
#goal3 {
  height: 250px;
  width: 350px;
}
table {
  border-collapse: collapse;
  width: 100%;
  border: 20px solid;
}

th,
td {
  padding: 15px;
}
th {
  background-color: #274434;
  color: white;
  font-family: "Cinzel", serif;
  font-weight: 100;
}
td {
  background-color: rgb(49, 78, 62);
  color: white;
  font-family: "Cinzel", serif;
  font-size: 14px;
}
td:hover {
  background-color: rgb(34, 63, 47);
  color: wheat;
  font-size: 20px;
  text-align: center;
  display: ruby-text;
}

.tableContainer {
  border: 20px solid;
  border-image: url(../img/leafborder.jpg) 100 round;
  border-image-outset: 10px;
  background-color: white;
}
#form {
  display: flex;
  flex: 1;
  flex-direction: column;
  width: 40%;
  margin: auto;
  border: 20px solid;
  border-image: url(../img/borderevil.jpg) 100 round;
  border-image-outset: 10px;
  background-color: white;
  z-index: 1;
}
.goal2,
#goal3 {
  display: flex;
  flex: 1;
  flex-direction: row;
}
