#valley,
#charimg,
#goalimg,
#adimg {
  margin: 1;
  height: 80vh;
  width: 100%;
}
#teren {
  height: 350px;
  width: 50%;
  border: solid black 3px;
  border-radius: 5px;
}
#mung {
  height: 300px;
  width: 40%;
  border: solid black 3px;
  border-radius: 5px;
}
#clain {
  height: 325px;
  border: solid black 3px;
}
#mung:hover,
#teren:hover,
#clain:hover {
  color: #424242;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -ms-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  opacity: 1;
  transform: scale(1.15);
  -ms-transform: scale(1.15);
  -webkit-transform: scale(1.15);
}

#borderG {
  transform: translateZ(1);
}
@media screen and (max-width: 1000px) {
  #charimg,
  #goalimg,
  #adimg {
    height: 40vh;
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  #charimg,
  #goalimg,
  #adimg {
    height: 40vh;
    width: 100%;
  }
}
