* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background: rgb(0, 10, 10);
}
.clock {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  color: rgb(10, 160, 187);
  font-size: 80px;
  border: 4px solid rgb(2, 125, 146);
  padding: 5px 10px 5px 10px;
  background-color: black;
  border-radius: 2%;
  box-shadow: inset 0 0 30px rgba(0, 0, 0, 0.4), 0 20px 20px rgba(0, 0, 0, 0.8),
    0 0 0 4px rgb(2, 125, 146);

  font-family: "Monoton", cursive;
  font-style: italic;
  text-align: left;
}
.clock:hover {
  text-shadow: 1px 0px 20px #ffd000e8;
  -webkit-transition: 1s linear 0s;
  -moz-transition: 1s linear 0s;
  -o-transition: 1s linear 0s;
  transition: 1s linear 0s;
  outline: 0 none;
}
